.arrive-date{
    background: #FFFFFF;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAM0lEQVR4Ae3UgQUAAAhFwfZfuiYIKB/uCAgPqoCgXuZqR5AgQXiMrkyQIDxGVyZI0D9gAFG5QswUKtMJAAAAAElFTkSuQmCC');
    background-position: 96% 50%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    max-width: 200px !important;
}